body {
  max-width: 1000px;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-template-areas:
    'header header header'
    'navigation navigation navigation'
    'section main main'
    'footer footer footer';

  grid-template-columns:15em 4em 1fr;

  grid-template-rows:10fr 3fr 20fr 5fr;
}

/* Header */
@font-face {
  font-family: "H Font";
  src: url("../fonts/Starshines.ttf");
  font-weight: normal;
}
header {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;

    color: #FCF5E1;
    font-family: "H Font";
    text-align: center;
    font-size: larger;

    background-color: #FDAED5;
    grid-area: header;
}

/* Navigation Bar Side */

section {
  padding-left: 3em;
  padding-top: 2em;

  color: #85b159;
  background-color: #B6DB92;
  grid-area: section;
}
ul.a {
  list-style-type: none;
}
ul.a li {
  padding-bottom: 2em;
}
ul.a li a {

  color: #85b159;
  text-decoration: none;
}
ul.a li a:hover {
  color: #FCF5E1;
}

/* Main Area */

main {
    color: #FDAED5;
    overflow-y: scroll;
    white-space: nowrap;
    padding-top: 5em;
    padding-left: 3em;

    background-color: #FCF5E1;
    grid-area: main;
}

main div {
  word-wrap: break-word;

  padding-top: 10px;
  padding-bottom: 30px;

  width: 40%;

  border-radius: 8px;
  background-color: #CFE6B9;
}

/* Footer */

footer {
    text-align: center;

    padding-top: 1.5em;
    padding-bottom: 3em;
    color: #FCF5E1;

    background-color: #FDAED5;
    grid-area: footer;
}

a.a {
  margin-right: 2em;
  color: #FCF5E1;
  text-decoration: none;
}

a.a:hover {
  color: #B6DB92;
}

/* Navigation Bar Top */

nav {
    background-color: #CFE6B9;
    grid-area: navigation;
}
ul.b {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #CFE6B9;
  display: flex;
}
ul.b li {
  padding-left: 3em;
}
ul.b li a {
  display: block;

  color: #FDAED5;
  text-decoration: none;

  margin-right: 2px;
  padding: 14px 16px;

  border-color: #fac2de;
  border-style: dotted;
}
ul.b li a:hover {
  background-color: #fac2de;
  color: #FCF5E1;
}

/* Text */
@font-face {
  font-family: "P Font";
  src: url("../fonts/Delius-Regular.ttf");
  font-weight: normal;
}

p, a, h2.b {
  font-family: "P Font";
}

h1, h2, h3, h4, h5, h6 {
    color: #FCF5E1;
    font-family: "H Font";
}
