body {
    margin: 0;
    padding: 0;
}

main {
    margin: 50px;
}

table, th, td {
  border-collapse: collapse;
}

tr {
    height: 50px;
}

/* Class A */
td.a {
    background-color: #FF8840; 
    border-color: black;
    border-width: 3px;

}
th.a {
    background-color: #FF8840; 
    border-color: black;
    border-width: 3px;    
}

/* Class B */
td.b {
    background-color: #FFBB63; 
    border-color: black;
    border-width: 3px;

}
th.b {
    background-color: #FFBB63; 
    border-color: black;
    border-width: 3px;    
}

/* Class C */
td.c {
    background-color: #FF5969; 
    border-color: black;
    border-width: 3px;

}
th.c {
    background-color: #FF5969; 
    border-color: black;
    border-width: 3px;    
}

/* Class D */
td.d {
    background-color: #DB2265; 
    border-color: black;
    border-width: 3px;

}
th.d {
    background-color: #DB2265; 
    border-color: black;
    border-width: 3px;    
}

/* Class E */
td.e {
    background-color: #FFD899; 
    border-color: black;
    border-width: 3px;

}
th.e {
    background-color: #FFD899; 
    border-color: black;
    border-width: 3px;    
}

/* Class F */
td.f {
    background-color: #FE97B0; 
    border-color: black;
    border-width: 3px;

}
th.f {
    background-color: #FE97B0; 
    border-color: black;
    border-width: 3px;    
}