/* Over 640px */
@media screen and (min-width: 640px) {
  body {
    background-color: #E5BCA9;
    margin-left: 64px;
    margin-right: 64px;
}
  /* Headers */
  h1 {
    color: #C87D87;
    font-size: 32px;
    font-family: "H Font";
}
  h2 {
    color: #C87D87;
    font-size: 26px;
    font-family: "H Font";
}
  h3 {
    color: #C87D87;
    font-size: 22px;
    font-family: "H Font";
}
  h4 {
    color: #C87D87;
    font-size: 18px;
    font-family: "H Font";
}

  /* Navigation Bar */
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
  ul li {
  float: left;
}
  ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  ul li a:hover {
  background-color: #111111;
}


}

/* Under 640px */
@media screen and (max-width: 640px) {
  body {
    background-color: #E5BCA9;
    margin-left: 16px;
    margin-right: 16px;
}
  /* Headers */
  h1 {
    color: #C87D87;
    font-size: 32px;
    font-family: "H Font";
}
  h2 {
    color: #C87D87;
    font-size: 26px;
    font-family: "H Font";
}
  h3 {
    color: #C87D87;
    font-size: 22px;
    font-family: "H Font";
}
  h4 {
    color: #C87D87;
    font-size: 18px;
    font-family: "H Font";
}

  /* Navigation Bar */
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
  ul li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
  ul li a:hover {
  background-color: #555555;
  color: white;
}

}