body {
    background-color: #8EB1D1;
    margin: 0;
    padding: 0;
}
header {
    font-family: "Gentium Plus", serif;
    font-weight: 800;
    font-style: normal;
    color: #8EB1D1;
    background-color: #1C2B48;
    padding: 1px;
    font-size: 25px;
    text-align: center;
}
main {
    color: #1C2B48;

    background-color: #f0f8ff;

    border-color: #f0f8ff;
    border-radius: 8px;

    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;

    padding: 20px;
}
input.b {
    background-color: #8EB1D1;
    border-color: #5e81a1;
    color: #FFE6F2;
}
ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #A7C7E7;
  display: flex;
  margin-bottom: 20px;
}
ul li a {
  display: block;
  color: #1C2B48;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  scale: 1.1;
  background-color: #014479;
  color: #fcf5e1;
}