body {
    background-color: #fcf5e1;
}
main {
    background-color: #FDAED5;

    border-color: #FDAED5;
    border-radius: 8px;

    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;

    padding: 20px;
}
button {
    background-color: #B6DB92;
}